.profile-photo {
  position: relative;
  border-radius: 50%; /* Changed to 50% for circular shape */
  background-color: var(--color-background);
  overflow: hidden;
}

.profile-photo::before {
  content: '';
  position: absolute;
  inset: -100px; /* Cover the entire area */
  background-image: conic-gradient(transparent, transparent, transparent, #fff);
  z-index: 5;
}

.profile-photo.active:before {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-photo .overlay {
  margin: 3px;
  z-index: 10;
}
